## MySQL Sample
* http://pythonstudy.xyz/python/article/202-MySQL-쿼리

- 아직 실행은 안해봄

In [5]:
import pymysql

strPWD = 'votmdnjem'

# MySQL Connection 연결
conn = pymysql.connect(host='ec2-52-78-53-220.ap-northeast-2.compute.amazonaws.com', user='koon', password=strPWD,
                       db='testdb', charset='utf8')
 
# Connection 으로부터 Cursor 생성
curs = conn.cursor()
 
# SQL문 실행
sql = "select * from users"
curs.execute(sql)
 
# 데이타 Fetch
rows = curs.fetchall()
print(rows)     # 전체 rows
# print(rows[0])  # 첫번째 row: (1, '김정수', 1, '서울')
# print(rows[1])  # 두번째 row: (2, '강수정', 2, '서울')
 
# Connection 닫기
conn.close()

((1, 'koon', 'youn koon'),)

In [ ]:
import pymysql
 
# MySQL Connection 연결
conn = pymysql.connect(host='ec2-52-78-53-220.ap-northeast-2.compute.amazonaws.com', user='koon', password=strPWD,
                       db='testdb', charset='utf8')
 
# Connection 으로부터 Dictoionary Cursor 생성
curs = conn.cursor(pymysql.cursors.DictCursor)
 
# SQL문 실행
sql = "select * from customer where category=%s and region=%s"
curs.execute(sql, (1, '서울'))
 
# 데이타 Fetch
rows = curs.fetchall()
for row in rows:
    print(row)
    # 출력 : {'category': 1, 'id': 1, 'region': '서울', 'name': '김정수'}
    print(row['id'], row['name'], row['region'])
    # 1 김정수 서울
 
# Connection 닫기
conn.close()

In [ ]:
import pymysql
 
conn = pymysql.connect(host='ec2-52-78-53-220.ap-northeast-2.compute.amazonaws.com', user='koon', password=strPWD,
                       db='testdb', charset='utf8')
 
curs = conn.cursor()
sql = """insert into customer(name,category,region)
         values (%s, %s, %s)"""
curs.execute(sql, ('홍길동', 1, '서울'))
curs.execute(sql, ('이연수', 2, '서울'))
conn.commit()
 
conn.close()

In [ ]:
data = (
    ('홍진우', 1, '서울'),
    ('강지수', 2, '부산'),
    ('김청진', 1, '서울'),
)
sql = """insert into customer(name,category,region)
         values (%s, %s, %s)"""
curs.executemany(sql, data)
conn.commit()

In [ ]:
import pymysql
 
conn = pymysql.connect(host='ec2-52-78-53-220.ap-northeast-2.compute.amazonaws.com', user='koon', password=strPWD,
                       db='testdb', charset='utf8')
 
curs = conn.cursor()
sql = """update customer
         set region = '서울특별시'
         where region = '서울'"""
curs.execute(sql)
 
sql = "delete from customer where id=%s"
curs.execute(sql, 6)
 
conn.commit()
conn.close()

In [ ]:
import pymysql
 
conn = pymysql.connect(host='ec2-52-78-53-220.ap-northeast-2.compute.amazonaws.com', user='koon', password=strPWD,
                       db='testdb', charset='utf8')
 
try:
    # INSERT
    with conn.cursor() as curs:
        sql = "insert into customer(name,category,region) values (%s, %s, %s)"
        curs.execute(sql, ('이광수', 1, '서울'))
 
    conn.commit()
 
    # SELECT
    with conn.cursor() as curs:
        sql = "select * FROM customer"
        curs.execute(sql)
        rs = curs.fetchall()
        for row in rs:
            print(row)
 
finally:
    conn.close()